@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar" id="sidebar">
        <NavMenu />
    </div>

    <main>
	    <div class="top-row justify-content-between px-4">
		    @* <MenuButton OnToggle="ToggleSidebar" /> *@
			<button id="menuButton" onclick="toggleSideMenu()" class="btn btn-outline-primary" style="font-size: 22px; padding-left: 10px; padding-right: 10px; padding-top: 2px; padding-bottom: 2px;"><strong>☰</strong></button>
		    @* <MenuButton/> *@
		    <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
	    </div>

	    <article class="content px-4">
		    @Body
	    </article>
    </main>
</div>

<div id="blazor-error-ui">
	An unhandled error has occurred.
	<a href="" class="reload">Reload</a>
	<a class="dismiss">🗙</a>
</div>

<script>
	let hidden = false;
	function toggleSideMenu() {
		if (window.innerWidth >= 641) {
			if (!hidden) {
				document.getElementById("sidebar").style.width = 0;
				hidden = true;
			} else if (hidden) {
				document.getElementById("sidebar").style.width = '250px';
				hidden = false;
			}
		} 

	}

	function maxWidthSideBar() {
		if (window.innerWidth >= 641) {
			return '250px';
		} else {
			return '100%'
		}
	}

	//not finished
	function updateMenuWidth() {
		if (!hidden && window.innerWidth >= 641 && document.getElementById("sidebar").offsetWidth > 250) {
			document.getElementById("sidebar").style.width = maxWidthSideBar();
			document.getElementById("menuButton").style.visibility = 'visible';
		} else if (window.innerWidth < 641 && (document.getElementById("sidebar").offsetWidth == 250 || document.getElementById("sidebar").offsetWidth == 0)) {
			if (hidden) {
				hidden = false;
			}
			document.getElementById("sidebar").style.width = maxWidthSideBar();
			document.getElementById("menuButton").style.visibility = 'hidden';
		}
	}

	// // Call the function initially to set the width
	updateMenuWidth();

	// // Add event listener for window resize
	window.addEventListener("resize", updateMenuWidth);
</script>
